body {
	font-size: 12pt;
}

.markdoc-content {
	padding: 12px 8px;
	max-width: 800px;
}
.byline {
	font-style: italic;
	font-weight: 100;
}
h1 {
	font-size: 3rem;
}

.avatar {
	display: flex;
	margin-bottom: 9px;
}
.avatar img {
	width: 40px;
	margin-right: 12px;
	border-radius: 50%;
}
.avatar > div {
	font-size: small;
	display: flex;
	color: #5b5b5b;
	flex-direction: column;
}


@media only screen and (max-width: 800px) {
	article img {
		width: 100%;
		height: auto;
	}
}
