body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	font-size: 14pt;
	justify-content: center;
	border-top: 8px solid #004784;
}

body.blue-border {
	border-top-color: #004784;
}

h1, h2, h3, h4, h6 {
	font-family : 'Markazi Text', serif;
}

h1 {
	font-size: 5rem;
	margin-bottom: 3px;
}

.main-block {
	margin-top: 40px;
	width: 600px;
}


.description {
	text-align: center;
	margin: 0;
	font-size: 10pt;
	margin-top: -10px;
}

.show-when-small {
	display: none;
}

html, body.portfolio {
	height: 100%;
}

.main-block.container-fluid {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.main-block.container-fluid .header {
	width: 100%;
	text-align: center;
}

.main-block.wide {
	width: 80%;
}


.info .links {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.info .links .link-icon a {
	color: black;
	display: flex;
	align-items: center;
}
.info .links .link-icon a:hover {
	text-decoration: none;
}

.info .links .link-icon i {
	font-size: 16pt;
}

.info .links .link-icon a:hover i {
	color: #004784;
}

.info .links .link-icon a:hover span {
	color: #004784;
	/* text-decoration: underline; */
}


.info .links .link-icon span {
	margin-left: 5px;
}

#quote-line {
	height: 1px;
	margin: 25px auto;
	margin-bottom: 10px;
	background: #d8d8d8;
	display: block;
}

#quote {
	font-size: 10pt;
	font-style: italic;
	color: #757575;
}

.go-home-link {
	position: absolute;
	margin-left: -40px;
	margin-top: 35px;
	font-size: .3em;
}
.go-home-link a {
	color: black;
}

@media screen and (max-width: 700px) {
	.info .links .link-icon span {
		display: none;
	}

	h1 {
		font-size: 3.5rem;
	}
	.go-home-link {
		margin: 0;
		left: 15px;
		top: 40px;
		font-size: .5em;
	}

	.links {
		width: 60%;
		padding: 10px;
	}

	body {
		padding: 0px 12px;
	}

	.main-block {
		margin-top: 15px;
	}

	.show-when-small {
		display: block;
	}
	.hide-when-small {
		display: none;
	}
}

.portfolio-card {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	height: 250px;
	border: 1px solid #ddd;
	background: white;
	margin-bottom: 30px;
	transition: all .1s ease-in;
	position: relative;
}

.portfolio-card.screen-pic {
	height: 390px;
}

.portfolio-card.screen-pic .aspect{
	padding-bottom: 66%;
}
.portfolio-card.side-card {
	height: 110px;
	display: flex;
}
.portfolio-card.side-card.side-card-img .aspect {
	padding: 0;
	height: 100%;
}
.portfolio-card.side-card-img .portfolio-card-body {
	width: calc(100% - 110px);
}

.side-card .card-text.smaller-text {
	margin-top: -3px;
}


.card-text {
	font-size: 10pt;
	margin-top: 4px;
}
.card-text.smaller-text {
	font-size: 9pt;
}

.portfolio-card .portfolio-card-title {
	font-size: 1.15rem;
	margin-top: 8px;
	font-weight: 600;
}
.portfolio-card-body {
	padding-top: 0rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.portfolio-card:hover {
	top: -2px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/* .shuffle-sizer { 
	visibility: hidden;
	opacity: none; } */

.aspect {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 30%;
	overflow: hidden;
}

.aspect img {
	height: 100%;
}

.aspect img.full-width {
	width: 100%;
}

.aspect.white-bg-pic {
	border-bottom: 1px solid #ddd;
}

.aspect__wide {
	padding-bottom: 30%;
}

.aspect__inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aspect--16x9 {
	padding-bottom: 56.25%;
}

.aspect--9x80 {
	padding-bottom: calc(112.5% + 8px);
}

.aspect--32x9 {
	padding-bottom: calc(28.125% - 3px);
}

.filter-group-label {
	text-transform: uppercase;
	margin-right: 20px;
	color: #555;
	font-weight: bold;
}

.filter-group {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.filter-group .btn-group .btn.btn-sm.active {
	box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.22);
}

.filter-group .btn-group .btn.btn-sm.focus.active {
	box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.22);
}

.filter-group .btn-group .btn.btn-sm.focus {
	box-shadow: none;
}

.filter-control-container {
	position: relative;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.shuffle-container-holder {
	background: #f5f7f9;
	padding-top: 10px;
	flex: 1;
	margin-left: -15px;
	margin-right: -15px;
	padding: 30px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.tags {
	font-size: smaller;
	position: absolute;
	bottom: 15px;
	left: 15px;
	right: 15px;
}
.side-card .tags {
	bottom: 10px;
}

.work-card .tags {
	right: 50px;
}

.work-card .work-logo {
	width: 40px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.youtube-video .youtube-play-icon {
	position: absolute;
	font-size: 50px;
	text-align: center;
	top: calc(50% - 25px);
	opacity: 0.85;
	color: white;
	text-shadow: 1px 1px 15px black;
}

.youtube-video:hover .youtube-play-icon {
	color: firebrick;
	opacity: 1;
}

.medium-writing-icon.fab.fa-medium {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: xx-large;
}

.portfolio-card.card-award {
	border-left: 8px solid #ffc107;
}

.portfolio-card.work-card.jimg {
	border-top: 8px solid #6610f2;
}
.portfolio-card.work-card.jpmc {
	border-top: 8px solid #117ACA;
}

.portfolio-card.work-card .portfolio-card-body{
	padding-top: 6px;
}

.portfolio-card .side-card-logo {
	width: 110px;
}

.card-container a {
	color: inherit;
}
.card-container a:hover {
	text-decoration: inherit;
}


@media screen and (max-width: 900px) {

	.filter-group-label {
		display: none;
	}

	html, body {
		height: auto;
	}

	body.portfolio {
		padding: 0;
	}
}

body.about {
	font-size: 12pt;
}

body.about .main-block {
	width: 660px;
}

body.about .header {
	width: 100%;
	text-align: center;
}

blockquote.blockquote {
	border-left: 8px solid #ddd;
    padding-left: 30px;
}

/* TIMELINE */
.timeline {
	position: relative;
	width: 660px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 1em 0;
	list-style-type: none;
  }
  
  .timeline:before {
	position: absolute;
	left: 50%;
	top: 0;
	content: ' ';
	display: block;
	width: 2px;
	height: 100%;
	margin-left: -1px;
	background: rgb(80,80,80);
	z-index: 5;
  }
  
  .timeline li {
	padding: 1em 0;
  }
  
  .timeline li:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
  }
  
  .direction-l {
	position: relative;
	width: 300px;
	float: left;
	text-align: right;
  }
  
  .direction-r {
	position: relative;
	width: 300px;
	float: right;
  }
  
  .flag-wrapper {
	position: relative;
	display: inline-block;
	
	text-align: center;
  }
  
  .flag {
	position: relative;
	display: inline;
	background: rgb(248,248,248);
	padding: 6px 10px;
	border-radius: 5px;
	
	font-weight: 600;
	text-align: left;
  }
  
  .direction-l .flag {
	-webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
	-moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
	box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
	position: absolute;
	top: 50%;
	right: -40px;
	content: ' ';
	display: block;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	background: #31a0ff;
	border-radius: 10px;
	border: 4px solid rgb(0, 71, 132);
	z-index: 10;
  }
  
  .direction-r .flag:before {
	left: -40px;
  }
  
  .direction-l .flag:after {
	content: "";
	position: absolute;
	left: 100%;
	top: 50%;
	height: 0;
	width: 0;
	margin-top: -8px;
	border: solid transparent;
	border-left-color: rgb(248,248,248);
	border-width: 8px;
	pointer-events: none;
  }
  
  .direction-r .flag:after {
	content: "";
	position: absolute;
	right: 100%;
	top: 50%;
	height: 0;
	width: 0;
	margin-top: -8px;
	border: solid transparent;
	border-right-color: rgb(248,248,248);
	border-width: 8px;
	pointer-events: none;
  }
  
  .time-wrapper {
	display: inline;
	
	line-height: 1em;
	font-size: 0.66666em;
	color: rgb(250,80,80);
	vertical-align: middle;
  }
  
  .direction-l .time-wrapper {
	float: left;
  }
  
  .direction-r .time-wrapper {
	float: right;
  }
  
  .time {
	display: inline-block;
	padding: 4px 6px;
	background: rgb(248,248,248);
  }
  
  .desc {
	margin: 1em 0.75em 0 0;
	
	font-size: 0.77777em;
	font-style: italic;
	line-height: 1.5em;
  }
  
  .direction-r .desc {
	margin: 1em 0 0 0.75em;
  }
  
  /* ================ Timeline Media Queries ================ */
  
  @media screen and (max-width: 660px) {
  
  .timeline {
	   width: 100%;
	  padding: 4em 0 1em 0;
  }
  
  .timeline li {
	  padding: 2em 0;
  }
  
  .direction-l,
  .direction-r {
	  float: none;
	  width: 100%;
  
	  text-align: center;
  }
  
  .flag-wrapper {
	  text-align: center;
  }
  
  .flag {
	  background: rgb(255,255,255);
	  z-index: 15;
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
	position: absolute;
	top: -30px;
	  left: 50%;
	  content: ' ';
	  display: block;
	  width: 12px;
	  height: 12px;
	  margin-left: -9px;
	  background: #fff;
	  border-radius: 10px;
	  border: 4px solid rgb(255,80,80);
	  z-index: 10;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
	  content: "";
	  position: absolute;
	  left: 50%;
	  top: -8px;
	  height: 0;
	  width: 0;
	  margin-left: -8px;
	  border: solid transparent;
	  border-bottom-color: rgb(255,255,255);
	  border-width: 8px;
	  pointer-events: none;
  }
  
  .time-wrapper {
	  display: block;
	  position: relative;
	  margin: 4px 0 0 0;
	  z-index: 14;
  }
  
  .direction-l .time-wrapper {
	  float: none;
  }
  
  .direction-r .time-wrapper {
	  float: none;
  }
  
  .desc {
	  position: relative;
	  margin: 1em 0 0 0;
	  padding: 1em;
	  background: rgb(245,245,245);
	  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	  box-shadow: 0 0 1px rgba(0,0,0,0.20);
	  
	z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
	  position: relative;
	  margin: 1em 1em 0 1em;
	  padding: 1em;
	  
	z-index: 15;
  }
  
  }
  
  @media screen and (min-width: 400px) and (max-width: 660px) {
  
  .direction-l .desc,
  .direction-r .desc {
	  margin: 1em 4em 0 4em;
  }
  
  }

  .timeline-item .portfolio-card {
	height: initial;
  }