body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	font-size: 14pt;
	justify-content: center;
	border-top: 8px solid #004784;
}

body.blue-border {
	border-top-color: #004784;
}

h1, h2, h3, h4, h6 {
	font-family : 'Markazi Text', serif;
}

h1 {
	font-size: 5rem;
	margin-bottom: 3px;
}

.main-block {
	margin-top: 40px;
	width: 600px;
}


html, body.portfolio {
	height: 100%;
}

.main-block.container-fluid {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.main-block.container-fluid .header {
	width: 100%;
	text-align: center;
}

.main-block.wide {
	width: 80%;
}


.info .links {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.info .links .link-icon a {
	color: black;
	display: flex;
	align-items: center;
}
.info .links .link-icon a:hover {
	text-decoration: none;
}

.info .links .link-icon i {
	font-size: 16pt;
}

.info .links .link-icon a:hover i {
	color: #004784;
}

.info .links .link-icon a:hover span {
	color: #004784;
	/* text-decoration: underline; */
}


.info .links .link-icon span {
	margin-left: 5px;
}

#quote-line {
	height: 1px;
	margin: 25px auto;
	margin-bottom: 10px;
	background: #d8d8d8;
	display: block;
}

#quote {
	font-size: 10pt;
	font-style: italic;
	color: #757575;
}

@media screen and (max-width: 700px) {
	.info .links .link-icon span {
		display: none;
	}

	h1 {
		font-size: 3.5rem;
	}

	.links {
		width: 60%;
		padding: 10px;
	}

	body {
		padding: 0px 12px;
	}

	.main-block {
		margin-top: 15px;
	}
}

.portfolio-card {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	height: 250px;
	border: 1px solid #ddd;
	background: white;
	margin-bottom: 30px;
	transition: all .1s ease-in;
	position: relative;
}

.portfolio-card.screen-pic {
	height: 390px;
}

.portfolio-card.screen-pic .aspect{
	padding-bottom: 66%;
}
.portfolio-card.side-card {
	height: 110px;
	display: flex;
}
.portfolio-card.side-card .aspect{
	padding: 0;
	height: 100%;
	width: 20%;
}
.portfolio-card.side-card .portfolio-card-body {
	width: 80%;
}



.card-text {
	font-size: 10pt;
	margin-top: 4px;
}

.portfolio-card .portfolio-card-title {
	font-size: 1.15rem;
	margin-top: 8px;
	font-weight: 600;
}
.portfolio-card-body {
	padding-top: 0rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.portfolio-card:hover {
	top: -2px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/* .shuffle-sizer { 
	visibility: hidden;
	opacity: none; } */

.aspect {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 30%;
	overflow: hidden;
}

.aspect img {
	height: 100%;
}

.aspect__wide {
	padding-bottom: 30%;
}

.aspect__inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aspect--16x9 {
	padding-bottom: 56.25%;
}

.aspect--9x80 {
	padding-bottom: calc(112.5% + 8px);
}

.aspect--32x9 {
	padding-bottom: calc(28.125% - 3px);
}

.filter-group-label {
	text-transform: uppercase;
	margin-right: 20px;
	color: #555;
	font-weight: bold;
}

.filter-group {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.filter-group .btn-group .btn.btn-sm.active {
	box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.22);
}

.filter-group .btn-group .btn.btn-sm.focus.active {
	box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.22);
}

.filter-group .btn-group .btn.btn-sm.focus {
	box-shadow: none;
}

.filter-control-container {
	position: relative;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.shuffle-container-holder {
	background: #f5f7f9;
	padding-top: 10px;
	flex: 1;
	margin-left: -15px;
	margin-right: -15px;
	padding: 30px;
	overflow-x: hidden;
	overflow-y: scroll;
}
